<% show_buttons = true if local_assigns[:show_buttons].nil? %>
<div class="comment-block">
  <div class="row">
    <div class="col-12 col-md-3 center">
      <%= link_to gravatar_for(object.chef, size: 60), chef_path(object.chef) %>
      <h6><%= link_to "by #{object.chef.name}", chef_path(object.chef) %></h6>
      <% if object.chef == object.recipe.chef %>
      <h6><span class="badge badge-pill badge-warning">Recipe Author</span></h6>
      <% end %>
    </div>
    <div class="col-12 col-md-9 ">
      <div class="comment-text">
        <%= simple_format(object.description) %>
      </div>
      <div class="right">
        <small>
          Originally posted <%= time_ago_in_words(object.created_at) %> ago
          <% if object.created_at < object.updated_at %>
          <br />
          Last edited <%= time_ago_in_words(object.updated_at) %> ago
          <% end %>
        </small>
      </div>
    </div>
  </div>
  <div class="row right">
    <div class="col">
      <% if show_buttons && logged_in? && (object.chef == current_chef || current_chef.admin?) %>
      <%= link_to "Edit", edit_recipe_comment_path(object.recipe,object), class:"btn btn-outline-secondary btn-sm" %>
      <%= render 'layouts/modal_button', button_text:"Delete", id:"comment#{object.id}", button_class: "btn btn-outline-danger btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
