<% @recipes.each do |recipe| %>
<%= render 'layouts/modal_impl', dismiss_class: "btn btn-secondary", action_class:"btn btn-danger", id:"recipe#{recipe.id}", title_text: "Confirm deletion", modal_text: "Do you really want to delete this recipe?", text_dismiss: "Cancel", text_action:
"Delete", path: recipe_path(recipe), method: "delete" %>
<% end %>
<div class="row justify-content-center">
  <div class="col center">
    <h2>
      <%= @chef.name %>'s Profile
      <% if @chef.created_at + 1.day > Time.now %>
      <%= render 'badge', text: "New Chef" %>
      <% end %>
    </h2>
  </div>
</div>
<div class="chef-profile-block">
  <div class="row">
    <div class="col center">
      <%= gravatar_for @chef, size: 150 %>
    </div>
  </div>
  <div class="row right">
    <div class="col">
      <%= link_to "Edit", edit_chef_path(@chef), class:"btn btn-outline-secondary btn-sm" %>
    </div>
  </div>
</div>
<div class="row justify-content-end">
  <div class="col created-at">
    <small>Member since <%= @chef.created_at.strftime("%B %d, %Y") %></small>
  </div>
</div>
<div class="row">
  <div class="col center">
    <h4>
      <%= @chef.name %> has published <%= pluralize @chef.recipes.count, "recipe" %>
    </h4>
  </div>
</div>
<%= will_paginate @recipes %>
<% @recipes.each do |recipe| %>
<%= render 'recipes/recipe', recipe: recipe %>
<% end %>
<%= will_paginate @recipes %>
<div class="row center footer-block">
  <div class="col">
    <%= link_to "Go back", chefs_path, class: "btn btn-outline-info btn-sm" %>
  </div>
</div>
