<div class="recipe-block">
  <div class="row">
    <div class="col">
      <h3>
        <%= link_to recipe.name.capitalize , recipe_path(recipe) %>
        <% if recipe.created_at + 1.day > Time.now %>
        <%= render 'recipes/badge', text: "New" %>
        <% end %>
      </h3>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-3 center">
          <%= link_to gravatar_for(recipe.chef, size: 100), chef_path(recipe.chef) %>
          <h6><%= link_to "by #{recipe.chef.name}", chef_path(recipe.chef) %></h6>
    </div>
    <div class="col-8">
        <h4>Steps (preview):</h4>
        <p>
          <%= truncate(recipe.description, length: 150) %>
        </p>
    </div>
  </div>
  <p>
    <small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small>
  </p>
  <div class="row right">
    <div class="col">
      <%= link_to "Check it", recipe_path(recipe), class:"btn btn-outline-primary btn-sm" %>
      <% if logged_in? && (current_chef == recipe.chef || current_chef.admin?) %>
      <%= link_to "Edit it", edit_recipe_path(recipe), class:"btn btn-outline-secondary btn-sm" %>
      <%= render 'layouts/modal_button', button_text:"Delete Recipe", id:"recipe#{recipe.id}", button_class: "btn btn-outline-danger btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
