<div class="recipe-block">
  <div class="row">
    <div class="col">
      <h3>
        <%= link_to recipe.name.capitalize , recipe_path(recipe) %>
        <% if recipe.created_at + 1.day > Time.now %>
        <%= render 'recipes/badge', text: "New" %>
        <% end %>
      </h3>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-12 col-md-3 center">
          <%= link_to gravatar_for(recipe.chef, size: 100), chef_path(recipe.chef) %>
          <h6><%= link_to "by #{recipe.chef.name}", chef_path(recipe.chef) %></h6>
    </div>
    <div class="col-12 col-md-9">
      <div>
        <h4>Steps (preview):</h4>
        <p>
          <%= truncate(recipe.description, length: 150) %>
        </p>
      </div>
      <hr />
      <div>
        <div class="rec-attribute">
          <h6>Difficulty</h6>
          <% if recipe.difficulty_level %>
          <%= link_to recipe.difficulty_level.name, '#', class: 'badge badge-pill badge-danger' %>
          <% else %>
          <span class="badge badge-pill badge-info">Not specified</span>
          <% end %>
        </div>
        <div class="rec-attribute">
          <h6>Related Ingredients</h6>
          <% if recipe.ingredients.count > 0 %>
          <% recipe.ingredients.each do | ingredient |%>
          <%= link_to ingredient.name, ingredient_path(ingredient), class: 'badge badge-pill badge-success' %>
          <% end %>
          <% else %>
          <span class="badge badge-pill badge-secondary">None</span>
          <% end %>
        </div>
        <div class="rec-attribute">
          <h6>
            <% if recipe.comments.count > 0 %>
            Commented <%= pluralize recipe.comments.count, 'time' %>
            <% else %>
            Not commented yet
            <% end %>
            | <%= pluralize recipe.likes.count, 'like' %>
          </h6>
        </div>
      </div>
    </div>
  </div>
  <p class="right">
    <small>Created <%= time_ago_in_words(recipe.created_at) %> ago by <%= recipe.chef.name %></small>
  </p>
  <div class="row right">
    <div class="col">
      <%= link_to "Check it", recipe_path(recipe), class:"btn btn-outline-primary btn-sm" %>
      <% if logged_in? && (current_chef == recipe.chef || current_chef.admin?) %>
      <%= link_to "Edit it", edit_recipe_path(recipe), class:"btn btn-outline-secondary btn-sm" %>
      <%= render 'layouts/modal_button', button_text:"Delete Recipe", id:"recipe#{recipe.id}", button_class: "btn btn-outline-danger btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
